<div class="resultTable__cell">
    <span class="resultTable__editable is-name" contenteditable>{{name}}</span>
</div>
{{#each points}}
    <div class="resultTable__cell">
        <span class="resultTable__editable is-result"
              data-model="{{../name}}"
              data-currentFrame="{{@index}}"
              data-position="first"
              contenteditable>
                {{first}}
        </span>
        <span class="resultTable__editable is-result is-last-result"
              data-model="{{../name}}"
              data-currentFrame="{{@index}}"
              data-position="second"
              contenteditable>
                {{second}}
        </span>
    </div>
{{/each}}
<div class="resultTable__cell">
    <span>{{total}}</span>
</div>